@font-face {
  font-family: GothamPro;
  src: url(../fonts/GothamPro.ttf);
}

@font-face {
  font-family: GothamProBold;
  src: url(../fonts/GothamPro-Bold.ttf);
}

.logo img {
  top: 5px;
  position: relative;
}

#Navburg {
  display: none;
}
#burger-menu {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: GothamPro;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: GothamProBold;
  font-size: 4.5rem;
  width: 54rem;
  font-weight: 900;
  color: #ffffff;
}

h2 {
  color: #ffffff;
}

.container {
  width: 1340px;
  margin: 0px auto;
}

.header {
  width: 100%;
  background: url(../img/BackgroundOthers.png) no-repeat;
  background-size: cover;
  padding-top: 6.25rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 72rem;
  margin: 0 auto;
  background: #ffffff;
  opacity: 0.75;
  border-radius: 6.25rem;
}

.logo {
  margin-left: 3.75rem;
}

.menuNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuNavbar ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  align-items: center;
  list-style: none;
}

.menuNavbar li {
  margin-right: 35px;
}

.laguagesToggle {
  margin-right: 2rem;
}

.laguagesToggle button {
  margin: 0;
  border: 0;
  font-size: 1.5rem;
}

.laguagesToggle .en {
  background: #a960d8;
  border-radius: 0 0.5rem 0.5rem 0;
}

.laguagesToggle .ru {
  background: #d2acea;
  border-radius: 0.5rem 0 0 0.5rem;
}

.offer {
  justify-content: center;
  display: flex;
  text-align: center;
  padding-bottom: 5rem;
}

.offer h1 {
  margin-top: 7rem;
  font-family: GothamPro;

  color: #ffffff;
  font-weight: 400;
  text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4);
}

.offer p {
  font-size: 2rem;
  color: #ffffff;
  width: 52rem;
  text-align: center;
  margin: 0 auto;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 4rem;
}

.offer hr {
  width: 22rem;
  background: white;
  height: 1px;
  border: 0;
}

.cards {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  margin: 0;
}

.card {
  width: 25%;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: center;
    padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.card h3 {
  color: #000000;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 2rem;
  padding-top: 1.5rem;
}

.card div {
  background: #8261ee;
  border-radius: 10px;
  width: 14rem;
  margin: 0 auto;
  padding: 1.3rem 0;
  font-size: 1.5rem;
  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card p {
  font-size: 1.75rem;
  color: rgba(0, 0, 0, 0.54);
}

.card button {
  color: #f9f0ff;
  border: 0;
  width: 14rem;
  padding: 1.3rem 0;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  background: #7109b4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sectionText {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 6rem;
    background: url(../img/headerBackgroundWhite.png);
    padding-top: 6.25rem;
    padding-bottom: 5rem;
    margin-bottom: -7rem;
}

.sectionText h2 {
  color: #7109b4;
  font-family: GothamProBold;
  font-size: 3rem;
  font-weight: 900;
}

.motiv {
  text-align: center;
  width: 60rem;
  color: rgba(0, 0, 0, 0.6);
  font-size: 2rem;
}

.sectionText p {
  width: 40rem;
  font-size: 2rem;
  margin: 3rem auto;
}

.sectionText span {
  font-weight: 900;
  color: #7109b4;
}

.sectionText ul {
  width: 40rem;
  font-size: 2rem;
  margin-left: 5rem;
}

.footer {
  background: linear-gradient(
      140.08deg,
      #8560eb -17.59%,
      rgba(255, 255, 255, 0) 77.22%
    ),
    rgba(113, 9, 180, 0.81);
}

.footer hr {
  width: 100%;
  border: 0;
  background: white;
  height: 1px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.footer p {
  color: #ffffff;
  text-align: center;
  padding: 1rem 0;
  margin: 0;
}

.socialNetworks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 17rem;
  margin: 0 auto 0.75rem auto;
  padding-top: 1rem;
}

@media screen and (max-width:1400px) {
  .header {width: 100%;}
  .jokes {width: 100%;}
  .footer {width: 100%;}
  .sectionText {width: 100%;}
}
@media screen and (max-width:1200px) {
  .nav {
    width: 95%;
  }
}

.selected-page {
  color: #FF27A9;
}

@media screen and (max-width:872px) {
  .header {
    background-size: auto;
  }
  .header,
  .jokes,
  .footer,
  .sectionText,
  .cards,
  .card > * {
    width: inherit;
  }

  hr,
  h1,
  h2,
  p,
  ul {
    width: auto !important;
  }

  .cards {
    flex-direction: column;
    width: 100% !important;
    align-items: center;
  }
  
  .card {
    width: 60%;
    margin-bottom: 2rem;
    margin-top: 2rem;
    border: 1px solid rgba(0,0,0,0.1);
  }
.card h3 {
  padding-left: 1rem;
  font-size: 1.5rem;
  margin: 25px auto;
  width: 70%;
}
  .card:last-child {
    margin-bottom: 5rem;
  }

.card p {
  font-size: 1rem;
}

.card div {
  width: 70%;
  height: 1.4rem;
}

.card button {
  width:70%;
}
.offer {
  padding-bottom: 0;
}

.offer h1 {
  margin-top: 10rem;
  font-size: 2rem;
}

.offer hr {
  width: 80% !important;
}

.offer p {
  font-size: 1.5rem;
  margin-top: 3rem;
  padding-bottom: 0;
  margin-bottom: 6rem;
}

  .sectionText {
    padding: 0 1.5rem 1rem 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 3rem;
  }

  .sectionText div {
    text-align: center;
  }

  .sectionText h2 {
    font-size: 1.5rem;
  }
  .sectionText p {
    font-size: 1rem;
    margin-bottom: 0;
  }
  .sectionText ul {
    margin-left: 1rem;
    text-align: left;
    font-size: 1rem;
  }

  .nav {
    display: none;
  }

  #Navburg .logo {
    margin-left: 1rem;
  }
  
  #Navburg {
    visibility: visible;
    display: flex;
    top: 1rem;
      position: absolute;
      width: 100%;
  }
  
  .nav {
    justify-content:left;
    align-items: center;
    width: auto;
    margin: -30px 0;
    visibility: hidden;
    height: 1px;
  
  }
  
  .logo {
    margin-left: 1rem;
    height: 100px;
  }
  
  .menuNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menuNavbar ul {
    display: block;
    width: 100%;
    }
  
  
    #burger-menu {
      position:absolute;
      top: 0;
      right: -100%;
      display: block;
    }
    
    #burger-menu.open {
      right: 0;
    }
    
    .burger {
      width: 50px;
      height: 50px;
      margin-left: auto;
      margin-right: 0.5rem;
      margin-top: 10px;
    }
  
    .burger img {
      width: 40px;
      height: 40px;
      padding-left: 5px;
      padding-top: 5px;
      cursor: pointer;
    }
    
    .burger-close img {
      margin-top: 1.75rem;
      margin-left: 5.6rem;
      width: 2.5rem;
    height: auto;
    cursor: pointer;
    }
    .body {
      width: 400px;
    }
  
  .mb-5 {
    display: flex;  
    margin-bottom: -1rem;
  }
  
  .mb-5 p {
    width: 2rem;
      margin-top: 1.8rem;
      margin-left: 0.9rem;
      font-size: 2rem;
  }
  
  #burger-menu {
    background-color: seashell;
    opacity: 92%;
    padding-bottom: 1rem;
  }
  
  .mt-4 a {
    margin-left:1rem;
  }
  
  .mb-4 {
    margin:1rem;
  }
  
  html {
    overflow-x: hidden;
  }

}