@font-face {
  font-family: GothamPro;
  src: url(../fonts/GothamPro.ttf);
}

@font-face {
  font-family: GothamProBold;
  src: url(../fonts/GothamPro-Bold.ttf);
}

.logo img {
  top: 5px;
  position: relative;
}

.selected-page {
  color: #FF27A9;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: GothamPro;
  overflow-x: hidden;
}


a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: GothamProBold;
  font-size: 4.5rem;
  width: 54rem;
  font-weight: 900;
  color: #ffffff;
}

h2 {
  color: #ffffff;
}

.container {
  width: 100%;
  margin: 0px auto;
}

.header {
  width: 100%;
  background: url(../img/headerBackground.png) no-repeat;
  background-size: cover; 
  padding-top: 6.25rem;
}

.main {
  width: 100%;
  background: url(../img/headerBackgroundWhite.png);
  padding-top: 6.25rem;
  padding-bottom: 5rem;
  background-size: cover;
}

.main > * {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 72rem;
  margin: 0 auto;
  background: #ffffff;
  opacity: 0.75;
  border-radius: 6.25rem;
}

.logo {
  margin-left: 3.75rem;
}

.menuNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuNavbar ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  align-items: center;
  list-style: none;
}

.menuNavbar li {
  margin-right: 35px;
}

.laguagesToggle {
  margin-right: 2rem;
}

.laguagesToggle button {
  margin: 0;
  border: 0;
  font-size: 1.5rem;
}

.laguagesToggle .en {
  background: #a960d8;
  border-radius: 0 0.5rem 0.5rem 0;
}

.laguagesToggle .ru {
  background: #d2acea;
  border-radius: 0.5rem 0 0 0.5rem;
}


.offer {
  justify-content: center;
  display: flex;
  text-align: center;
  padding-bottom: 21rem;
  width: 100%;
}

.offer h1 {
  margin-top: 20rem;
  text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4);
  width: 95%;
}

.offer p {
  font-size: 2rem;
  color: #ffffff;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.offer button {
  margin-top: 3rem;
  background: rgba(255, 39, 169, 0.61);
  border-radius: 10px;
  width: 45%;
  font-size: 2rem;
  color: #ffffff;
  padding: 1rem 0;
  border: 0;
}

.animator-wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
}


.mainPhrase {
  text-align: center;
  font-size: 2rem;
  width: 95%;
  margin: -5rem auto 0 auto;
  color: rgba(113, 9, 180, 0.68);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 5rem;
}

.cardBenefitWrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 10px auto 0 auto;
}

.partySection img {
  width: auto;
    margin-left: auto;
    margin-right: 3rem;
    height: fit-content;
}

.cardBenefit {
  box-shadow: 0px 5px 11px 4px rgb(0 0 0 / 25%);
  border: solid 1px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  width: 25%;
}

.cardBenefit h3 {
  text-align: center;
  font-size: 2.25rem;
  padding: 3.125rem 0 0.4rem 0;
  width: 100%;
  margin: 0 auto;
  color: rgba(113, 9, 180, 0.81);
  border-bottom: 1px solid #a212ff;
}

.cardBenefit p {
  font-size: 2rem;
  color: rgba(113, 9, 180, 0.81);
  text-align: center;
  margin-top: 2rem;
}

.phoneBackground {
  background: url(../img/Phone.png) no-repeat;
  background-size: contain;
  width: 40%;
  height: 52rem;
}

.animator {
  width: 55%;
  margin-top: 7rem;
}

.animator h3 {
  margin-top: 10px;
  text-align: center;
  font-size: 3.5rem;
  color: #7109b4;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  width: 100%;
}

.animator p {
  font-size: 2rem;
  text-align: center;
  width: 100%;
  color: rgba(0, 0, 0, 0.6);
}

.onlinePartySection {
  margin-top: 25px;
}

#school {
  margin-top: 0rem;
}

.sectionName {
  background: url(../img/sectionName.svg) no-repeat;
}

.sectionNameRight {
  background: url(../img/sectionNameRight.svg) no-repeat;
  background-position: right;
  float: right;
  height: 8rem;
}

.sectionNameRight h2 {
  font-size: 3.5rem;
  text-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  padding: 0 30rem 0 5rem;
  margin-top: 2rem;
}

.sectionName h2 {
  margin-left: 20rem;
  font-size: 3.5rem;
  text-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  padding: 2rem 0;
}

.onlinePartySectionContent {
  height: auto;
  width: 50%;
}

.onlinePartySectionContent button {
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 60%;
  color: #7109b4;
  background: #f9f0ff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0;
  font-size: 2rem;
  padding: 1rem 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.onlinePartySectionContent p {
  text-align: left;
  font-size: 2rem;
  margin-left: 3rem;
}

.onlinePartySectionContent #free {
  color:#ff27a9;
  text-align: center;
}

.onlinePartySectionContent h3 {
  text-align: center;
  font-size: 2rem;
  margin-left: 3rem;
}

.onlinePartySectionContentRight {
  margin-right: 20rem;
}

.partySection {
  display: flex;
  margin-bottom: 4rem;
}

.partySectionRight {
  display: flex;
  justify-content: space-between;
  padding-top: 11rem;
  width: 100%;
}

.onlinePartySectionContentRight {
  margin-left: 4.375rem;
  margin-right: 4rem;
}

.onlinePartySectionContentRight p {
  width: 100%;
  text-align: left;
  font-size: 2rem;
  margin-right: 3rem;
}

.onlinePartySectionContentRight h3 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin-right: 3rem;
}

.onlinePartySectionContentRight button {
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 23rem;
  color: #7109b4;
  background: #f9f0ff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0;
  font-size: 2rem;
  padding: 1rem 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.balloons {
  position: relative;
}

.balloonWrapper {
  margin-top: 3rem;
  display: flex;
  text-align: left;
}

.balloonWrapper p {
  color: #000000;
  font-size: 1.5rem;
  margin-left: 1rem;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.frozenPartySection {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.frozenPartySection h3 {
  color: #ff27a9;
  font-size: 3.5rem;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.order {
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 23rem;
  color: #7109b4;
  background: #f9f0ff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0;
  font-size: 2rem;
  padding: 1rem 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 900;
  margin-top: 2rem;
}

.formSection {
  justify-content: center;
  text-align: center;
  margin-top: 7rem;
}

.formSection h3 {
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 3.5rem;
}

.formSection p {
  text-align: center;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.6);
}

.formWrapper {
  display: flex;
  justify-content: center;}

.nameAndNumber {
  width: 46rem;
}

.nameAndNumber input {
  background: rgba(196, 196, 196, 0.28);
  border-radius: 10px;
  border: none;
  color: rgba(0, 0, 0, 0.55);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.5rem;
  padding: 1rem 0 1rem 1rem;
  margin: 1rem;
  margin: 1rem 0;
  width: 42%;
}

.formWrapper textarea {
  width: 87%;
  height: 16rem;
  background: rgba(196, 196, 196, 0.28);
  color: rgba(0, 0, 0, 0.55);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0;
  padding: 1rem 0 0 1rem;
  font-family: GothamPro;
  resize: none;
}

.formWrapper button {
  background: #a960d8;
  border-radius: 10px;
  margin: 3rem 0 4rem 0;
  border: 0;
  color: white;
  font-size: 2rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0.5rem 1.5rem;
}

.footer {
  background: linear-gradient(
      140.08deg,
      #8560eb -17.59%,
      rgba(255, 255, 255, 0) 77.22%
    ),
    rgba(113, 9, 180, 0.81);
}

.footer hr {
  width: 100%;
  border: 0;
  background: white;
  height: 1px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.footer p {
  color: #ffffff;
  text-align: center;
  padding: 1rem 0;
  margin: 0;
}

.socialNetworks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 17rem;
  padding-top: 1rem;
  margin: 2rem auto 0.75rem auto;
}

#Navburg {
  display: none !important;
}
#burger-menu {
  display: none !important;
}

.partySectionRight img.onlinePartySectionContentImgRight {
  margin-left: 3rem;
}

.partySection img.onlinePartySectionContentImg {
  margin-right: 3rem;
}

.partySection img.onlinePartySectionContentImg,
.partySectionRight img.onlinePartySectionContentImgRight {
  width: 30%;
  height: fit-content;
}

.balloonWrapper.first {
  margin-left: 5%;
  margin-top: 7rem;
}
.balloonWrapper.second {
  margin-left: 10%;
}
.balloonWrapper.third {
  margin-left: 15%;
}
.balloonWrapper.forth {
  margin-left: 20%;
}


@media screen and (max-width:2000px) {
  .header {
    background-size: contain;
    height: 60vw;
  }
  .main > * {
    max-width: none;
    margin-left: 0;
    margin-right: 0;
  }
  .offer {
    width: 100%;
    margin: 0 auto;
    padding: 0 0 30rem 0;

    display: grid;
    grid-template-columns: 27% auto 18%;
    padding: 0;
    margin: 0;
  }

  .offer .text {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .offer h1 {
    margin-top: 10rem;
  }

  .cardBenefit {width: 25%;}
  .cardBenefitWrapper {
    width: 100%;
    max-width: 95rem;
    margin-top: 10px;
  }
  .formWrapper img {
    width: 15%;
    height: 15%;
  }
  .formSection p {
    width: 100%;
    margin: 0 auto 4rem auto;
  }
  
  .formWrapper {
    margin: 0 ;
  }
  .formWrapper {
    width: 100%;
  }


  .onlinePartySectionContentImg
  {
    margin-left: 15rem;
  }

  .onlinePartySectionContentImg {
    margin-left: 2rem;
  }

  .onlinePartySectionContentImgRight {
    margin-left: 5rem;
  }

  #Navburg {
    display: none !important;
  }
  #burger-menu {
    display: none !important;
  }
}
@media screen and (max-width:1680px) {
  .header {
    padding-top: 25px;
  }
  .text h1 {
    font-size: 62px;
    margin-top: 10vw;
  }
  .text button {
    width: 60%;
    font-size: 1.7rem;
    margin-top: 1.5rem;
  }
}

  @media screen and (max-width:1200px) {
    .mainPhrase {
      margin-bottom: 2rem;;
    }
    .offer {
      padding: 0;
    }
    .text h1 {
      font-size: 48px;
      margin-top: 5vw;
    }
    .offer p {
      font-size: 1.5rem;
    }
    .text button {
      width: 60%;
      font-size: 1.5rem;
      margin-top: 1.5rem;
  }
    .nav {
      width: 95%;
    }

    .frozenPartySection,
    .frozenPartySection h3,
    .frozenPartySection img {
      width: 100%;
    }
    .frozenPartySection button {
      width: 60%;
    }


  .formWrapper img {display: none;}
  .cardBenefit {width: 25%;}
  .cardBenefitWrapper {
    width: 100%;
  }
  .formWrapper {
    width: 100%;
    margin-left: 0;
  }

  .onlinePartySectionContentImg {
    margin-left: 2rem;
  }
  
  .onlinePartySectionContentImgRight {
    margin-left: 5rem;
  }
  #Navburg {
    display: none !important;
  }
    #burger-menu {
      display: none !important;
    }
}

  @media screen and (max-width:940px) {
    .cardBenefit {
      width: 23%;
  }
    .text h1 {
      font-size: 36px;
      margin-top: 0;
    }
    .text p, .text button {
      font-size: 24px;
      width: 70%;
    }
    .partySection img.onlinePartySectionContentImg, .partySectionRight img.onlinePartySectionContentImgRight {
      width: auto;
    }

  .onlinePartySectionContent h3,
  .onlinePartySectionContentRight h3,
    .cardBenefit h3 {
      font-size: 1rem;
    }

    .onlinePartySectionContent p,
    .onlinePartySectionContentRight p {
      font-size: 0.8rem;
    }

    .onlinePartySectionContent button,
    .onlinePartySectionContentRight button {
      width: 80%;
    }

    .partySectionRight {
      width: 100%;
    }

    .onlinePartySectionContentImgRight {
      width: auto;
      height: auto;
      margin-left: 15px;
    }

    .onlinePartySectionContentRight {
      margin-left: 0; 
      margin-right: 0; 
      width: 50%;
      height: auto;
    }

    .cardBenefit p {
      font-size: 1.5rem;
    }

    .sectionNameRight h2,
    .sectionName h2 {
      font-size: 2rem;
    }

    .nav {
      display: none;
    }
  
    #Navburg .logo {
      margin-left: 1rem;
    }
    
    #Navburg {
      visibility: visible;
      display: flex !important;
      top: 1rem;
        position: absolute;
        width: 100%;
    }
  
    #burger-menu {
      position:absolute;
      top: 0;
      right: -100%;
      display: block !important;
    }
    
    #burger-menu.open {
      right: 0;
    }
    
    .burger {
      width: 50px;
      height: 50px;
      margin-left: auto;
      margin-right: 0.5rem;
      margin-top: 10px;
    }
  
    .burger img {
      width: 40px;
      height: 40px;
      padding-left: 5px;
      padding-top: 5px;
      cursor: pointer;
    }
    
    .burger-close img {
      margin-top: 1.75rem;
      margin-left: 5.6rem;
      width: 2.5rem;
    height: auto;
    cursor: pointer;
    }

    .mb-5 {
      display: flex;  
      margin-bottom: -1rem;
    }
    
    .mb-5 p {
      width: 2rem;
        margin-top: 1.8rem;
        margin-left: 0.9rem;
        font-size: 2rem;
    }
    
    #burger-menu {
      background-color: seashell;
      opacity: 92%;
      padding-bottom: 1rem;
    }
    
    .mt-4 a {
      margin-left:1rem;
    }
    
    .mb-4 {
      margin:1rem;
    }


    .main {width: 100%;}
    .header {width: 100%;}
    .formSection {width: 100%;}
    
    .footer {width:100%;}
    
    .formSection p {
      text-align: center;
      align-content: center;
    }
    .onlinePartySectionContentImg {
      margin-left: 1rem;
    }
    
    .onlinePartySectionContentImgRight {
      margin-left: 5px;
    }

  }

  @media screen and (min-width:706px) and (max-width:939px) {
    .onlinePartySectionRight .partySectionRight {
      align-items: flex-start;
    }
    .onlinePartySectionRight .partySectionRight .onlinePartySectionContentImgRight {
      width: 40%;
    }

    .onlinePartySectionRight .partySectionRight .onlinePartySectionContentImgRight,
    .onlinePartySectionRight .partySectionRight .onlinePartySectionContentRight {
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media screen and (max-width:705px) {
    .offer {
      justify-content: center;
      display: flex;
      text-align: center;
      padding-bottom: 21rem;
      width: 100%;
    }
    .offer .text {
      padding: 0 3vw;
    }
    .animator-wrapper {
      align-items: center;
      flex-direction: column;
    }

    .animator-wrapper > * {
      width: 100%;
    }
    
    .main {
      width: inherit;
      background: url(../img/BackMobile.png);
      background-size: cover;
      padding-bottom: 1rem;
    }
    .mainPhrase {
      width: auto;
      margin-left: 1rem;
      margin-right: 1rem;
      font-size: 1rem;
      font-weight: 300;}
    .header {
      width: inherit;
      height: 660px;
      background: url(../img/BackgroundOthers.png);
    }
    .offer h1 {
      width: auto;
      font-size: 2.5rem;
      font-weight: 300;
     margin-top: 12rem;
    }
    .offer p {
      width:auto;
      font-size: 1rem;
    }
    .offer button {
      width: 60%;
      font-size: 1rem;
    }

.cardBenefitWrapper {
  width: auto;
  flex-direction: column;
  align-items: center;
}
.cardBenefit {
  width: 15rem;
  margin-bottom: 10px;
  padding: 0.5rem;
  box-shadow: 0px 4px 10px 3px rgb(0 0 0 / 25%);
}
.cardBenefit:last-child() {
  margin: 0px;
}

.cardBenefit h3 {
  padding-top: 0.3rem;
font-size: 1.3rem;
}

.cardBenefit p {
  margin-top: 0.3rem;
  font-size: 1rem;
}
.phoneBackground {
  margin: auto;
  width: 17rem;
  height: 20rem;
  background-size: contain;
  position: relative;
  left: 25px;
}
.animator {
  margin: 0px;
  float: none;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.animator h3 {
  width: 100%;
  font-size: 1.3rem;
}

.animator p {
  width: 80%;
  font-size: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.onlinePartySection {
  margin-top: 0.5rem ;
}

.sectionName h2 {
  margin-left: 1.5rem;
  font-size: 1.8rem;
  padding-top: 0.4rem;
  padding-bottom: 0;
}

.sectionName, .sectionNameRight {
  background-size: contain;
}

.sectionNameRight h2 {
    padding: 0.4rem 6rem 0 4rem;
    font-size: 2.1rem;
}

.sectionNameRight {
  margin-top: -3rem;
}

.partySection {
  margin-bottom: 0;
  display: block;
  width: auto;
  margin-top: 5rem;
}

.partySection img {
  height: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 70% !important;
  margin-left: 15%;
}

.partySectionRight {
  margin-bottom: 0;
  padding-top: 0;
  display: block;
  width: auto;
}

.onlinePartySectionContent {
  margin-left: 10%;
  width: 80%;  
}

.partySection h3 {
  font-size: 1.3rem;
  width: auto;
  margin-top: 2rem;
}

.partySectionRight h3 {
  font-size: 1.3rem;
  width: auto;
}

.partySection p {
  width: auto;
  font-size: 1rem;
  text-align: center;
}

.partySectionRight p {
  width: auto;
  font-size: 1rem;
  text-align: center;
}

.onlinePartySectionContentImg {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 70%;
}

.onlinePartySectionContentImgRight {
  margin-top: 0;
  margin-left: 0;
  width: 70% !important;
  margin-left: 15% !important;
  margin-right: auto;
}

.onlinePartySectionContentRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1.5rem 0 1.5rem;
  width: 80%;
  margin-left: 10%;
}

.onlinePartySectionContent p {
  margin-left: 0px;
}

.partySection button {
  width: 70%;
  font-size: 1rem;
}

.partySectionRight button {
  margin-left: 3rem;
  width: 70%;
  font-size: 1rem;
}

#sec h2{
  font-size: 1.8rem;
  margin-left: 4rem;
}

.balloonWrapper img {
  height: 5rem;
}

.balloonWrapper p {
  font-size: 1rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
    width: 80%;
}

.balloonWrapper {
  margin-top: 1rem;
}

.frozenPartySection {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: block;
}

.frozenPartySection h3 {
  font-size: 1.5rem;
  width: auto;
}

.frozenPartySection img {
  width: 100%;
  height: auto;
}

.frozenPartySection button {
  width: 70%;
  font-size: 1rem;
  margin-top: 1rem;
}

.formSection img {
  visibility: hidden;
  width: 0;
  height: 0;
}

.formSection {
  display: block;
  width: inherit;
  margin-top: 2rem;
}

.formSection h3 {
  font-size: 1.5rem;
  width: auto;
}

.formSection p {
  width: auto;
  font-size: 1.2rem;
  margin: 0 1rem 4rem 1rem;
}

.nameAndNumber input {
font-size: 1rem;
width:80%;
}

.formWrapper {
width: auto;
margin-left: 0;
}

.formWrapper button {
font-size: 1.5rem;
}

.formWrapper textarea {
  width:80%;
}

.nameAndNumber {
  width: auto;
  display: block;
  margin-top: -2rem;
}

.footer {
  width: inherit;
}

#Navburg .logo {
  margin-left: 1rem;
}

#Navburg {
  visibility: visible;
  display: flex !important;
  top: 1rem;
    position: absolute;
    width: 100%;
}

.nav {
  justify-content:left;
  align-items: center;
  width: auto;
  margin: -30px 0;
  visibility: hidden;
  height: 1px;

}

.logo {
  margin-left: 1rem;
  height: 100px;
}

.menuNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuNavbar ul {
  display: block;
  width: 100%;
  }


  #burger-menu {
    position:absolute;
    top: 0;
    right: -100%;
    display: block !important;
  }
  
  #burger-menu.open {
    right: 0;
  }
  
  .burger {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: 0.5rem;
    margin-top: 10px;
  }

  .burger img {
    width: 40px;
    height: 40px;
    padding-left: 5px;
    padding-top: 5px;
    cursor: pointer;
  }
  
  .burger-close img {
    margin-top: 1.75rem;
    margin-left: 5.6rem;
    width: 2.5rem;
  height: auto;
  cursor: pointer;
  }

.mb-5 {
  display: flex;  
  margin-bottom: -1rem;
}

.mb-5 p {
  width: 2rem;
    margin-top: 1.8rem;
    margin-left: 0.9rem;
    font-size: 2rem;
}

#burger-menu {
  background-color: seashell;
  opacity: 92%;
  padding-bottom: 1rem;
}

.mt-4 a {
  margin-left:1rem;
}

.mb-4 {
  margin:1rem;
}

html {
  overflow-x: hidden;
}
}

@media screen and (max-width:400px) {
  .sectionName h2,
  .sectionNameRight h2,
  #sec h2 {
    font-size: 1.5rem;
  }
  .onlinePartySectionContent h3,
  .onlinePartySectionContent p,
  .partySectionRight p,
  .partySectionRight h3 {
    margin: auto auto;
  }
}

