@font-face {
  font-family: GothamPro;
  src: url(../fonts/GothamPro.ttf);
}

@font-face {
  font-family: GothamProBold;
  src: url(../fonts/GothamPro-Bold.ttf);
}

.logo img {
  top: 5px;
  position: relative;
}

#Navburg {
  display: none;
}
#burger-menu {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: GothamPro;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: GothamProBold;
  font-size: 4.5rem;
  width: 100%;
  font-weight: 900;
  color: #ffffff;
}

h2 {
  color: #ffffff;
}

.header {
  width: 100%;
  background: url(../img/BackgroundOthers.png) 100% 100% no-repeat;
  background-size: cover; 
  padding-top: 6.25rem;
}


.main {
  width: 100%;
  background: url(../img/headerBackgroundWhite.png);
  background-size: cover;
  padding-top: 6.25rem;
  padding-bottom: 5rem;
  margin-bottom: -7rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 72rem;
  margin: 0 auto;
  background: #ffffff;
  opacity: 0.75;
  border-radius: 6.25rem;
}

.logo {
  margin-left: 3.75rem;
}

.menuNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Slideshow container */
.slideshow-container{
  position: relative;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.slideshow-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0;
  width: 100%;
  padding: 0 0 6rem 0;
}
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 5px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 50%;
  user-select: none;
  width: 25px;
  height: 25px;
  text-align: center;
}

/* Position the "next button" to the right */
.next {
  margin-right: auto;
}

.prev {
  margin-left: auto;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #101010;
  font-weight: bold;
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  text-align: center;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  margin: 0 1rem;
}

.fade,
.fade img {
  width: 310px !important;
  display: block;
  height: 377px !important;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.menuNavbar ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  align-items: center;
  list-style: none;
}

.menuNavbar li {
  margin-right: 35px;
}

.laguagesToggle {
  margin-right: 2rem;
}

.laguagesToggle button {
  margin: 0;
  border: 0;
  font-size: 1.5rem;
}

.laguagesToggle .en {
  background: #a960d8;
  border-radius: 0 0.5rem 0.5rem 0;
}

.laguagesToggle .ru {
  background: #d2acea;
  border-radius: 0.5rem 0 0 0.5rem;
}

.offer {
  text-align: center;
}

.offer h1 {
  margin: 13rem auto 2rem auto;
  font-weight: 400;
}

.offer hr {
  border: 0;
  background: white;
  height: 1px;
  width: 100%;
  margin: 0 auto;
}

.offer p {
  margin: 3rem auto;
  padding: 0;
  text-align: center;

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 2rem;
  width: 80%;
}

.main section.quest {
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
  width: 95%;
}

.makeOrder {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.makeOrder div {
  width: 60% !important;
  padding: 3rem;
  background: white;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.1);
}

.makeOrder p {
  font-weight: 300;
  font-size: 2rem;
  text-align: justify;
}
.makeOrder button {
  text-align: center;
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  width: max-content;
  color: #7109b4;
  background: #f9f0ff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0;
  font-size: 2rem;
  padding: 10px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.readReviews {
  font-family: GothamProBold;
  font-size: 2.5rem;
  text-align: center;
  text-decoration: underline;
  margin-left: 0;
  margin-top: 8rem !important;
}

.readReviews a {
    color: #ff27a9;
}
.quest {
    display: flex;
    justify-content:center;
    align-items: flex-start;
    width: 100%;
    margin-top: 6rem;
}

#first p{
  margin-top: 0;
  margin-left: 0;
  width: 35%;
}

.quest p {
  margin: auto;
  width: 50%;
  font-size: 2rem;
}

.quest img {
  width: 45%;
  height: 100%;
}
.firstimg {
  margin-left: 1rem;
  margin-right: 1rem;
}
.secimg {
  width: 55%;
  margin: 0;
}
.quest span {
  color: #7109b4;
}

#second img {
  width: 55%;
}

#second div {
  width: 40%;
}

#second p {
  width: 100%;
}

.makeOrder span {
  color: #7109b4;
}

.more {
  color: #f9f0ff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #7109b4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0;
  margin: 5rem auto;
  font-size: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.jokes {
  background: url(../img/BackgroundJokes.png);
  background-size: cover;
padding-top: 0%;
}

.jokes h3 {
  text-align: center;

  color: rgba(113, 9, 180, 0.81);

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 3.5rem;
  padding: 7rem 0 3rem 0;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-right: 5rem;
  padding-bottom: 5rem;
}

.slide {
  display: none;
}

.slide.visible {
  display: block;
  margin-left:5rem;
}

.slide p {
  text-align: center;
  color: #000000;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 2rem;
}

.arrow {
  margin-bottom: 7rem;
}

.footer {
  background: linear-gradient(
      140.08deg,
      #8560eb -17.59%,
      rgba(255, 255, 255, 0) 77.22%
    ),
    rgba(113, 9, 180, 0.81);
}

.footer hr {
  width: 80%;
  border: 0;
  background: white;
  height: 1px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.footer p {
  color: #ffffff;
  text-align: center;
  padding: 1rem 0;
  margin: 0;
}

.socialNetworks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 17rem;
  padding-top: 1rem;
  margin: 0 auto 0.75rem auto;
}

.menuWrapper {
  position: relative;
}

.menu {
  display: none;
  position: absolute;
  background: #ffffff;
  opacity: 0.75;
  top: 1.35rem;
  left: -0.75rem;
}

.menu ul {
  display: block;
}

.menu li {
  padding: 1rem;
  text-align: center;
  margin: 0;
}

.menu li:hover {
  background: rgba(169, 96, 216, 0.3);
}

.menu.active {
  display: block;
}

.selected-page {
  color: #FF27A9;
}

.firstLesson {
  text-align: center;
  font-size: 48px;
  margin: 5rem 0;
  color: #FF27A9;
}

@media screen and (max-width:1200px) {
  .nav {
    width: 95%;
  }

  .readReviews {
    margin-top: 2rem !important;
  }
}

@media screen and (max-width:872px) {
  .readReviews {
    margin-left: 20rem;
  }
  .slideshow-container .fade,
  .slideshow-container .fade img {
    width: 260px !important;
    display: block;
    height: 277px !important;
  }

  .nav {
    display: none;
  }

  #Navburg .logo {
    margin-left: 1rem;
    height: 100px;
  }

  .burger {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: 0.5rem;
    margin-top: 10px;
  }

  #Navburg {
    visibility: visible;
    display: flex;
    top: 1rem;
    position: absolute;
    width: 100%;
  }

  .burger img {
    width: 40px;
    height: 40px;
    padding-left: 5px;
    padding-top: 5px;
    cursor: pointer;
  }

  .prev, .next {
    cursor: pointer;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 5px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 50%;
    user-select: none;
    width: 25px;
    height: 25px;
    text-align: center;
  }

  .next {
    margin-right: auto;
  }
  
  .prev {
    margin-left: auto;
  }
  .readReviews {
    margin-top: 1rem !important;
    width: 100% !important;
  }

  #Navburg .logo {
    margin-left: 1rem;
  }
  
  #Navburg {
    visibility: visible;
    display: flex !important;
    top: 1rem;
      position: absolute;
      width: 100%;
  }

  #burger-menu {
    position:absolute;
    top: 0;
    right: -100%;
    display: block !important;
  }
  
  #burger-menu.open {
    right: 0;
  }
  
  .burger {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: 0.5rem;
    margin-top: 10px;
  }

  .burger img {
    width: 40px;
    height: 40px;
    padding-left: 5px;
    padding-top: 5px;
    cursor: pointer;
  }
  
  .burger-close img {
    margin-top: 1.75rem;
    margin-left: 5.6rem;
    width: 2.5rem;
  height: auto;
  cursor: pointer;
  }

  .mb-5 {
    display: flex;  
    margin-bottom: -1rem;
  }
  
  .mb-5 p {
    width: 2rem;
      margin-top: 1.8rem;
      margin-left: 0.9rem;
      font-size: 2rem;
  }
  
  #burger-menu {
    background-color: seashell;
    opacity: 92%;
    padding-bottom: 1rem;
  }
  
  .mt-4 a {
    margin-left:1rem;
  }
  
  .mb-4 {
    margin:1rem;
  }
}

@media screen and (max-width:705px) {
  .nav {
    display: none;
  }

  #second div,
  #second img {
    width: 100%;
  }

  .prev, .next {
    cursor: pointer;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 5px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 50%;
    user-select: none;
    width: 25px;
    height: 25px;
    text-align: center;
  }

  .next {
    margin-right: auto;
  }
  
  .prev {
    margin-left: auto;
  }

  .header {
    background-size: cover;
  }
  .header,
  .wrapper,
  .footer,
  .main,
  .makeOrder,
  .offer,
  .jokes,
  .makeOrder > div {
    width: inherit;
  }

  hr,
  h1,
  h2,
  p,
  ul {
    width: auto !important;
  }

  .offer h1 {
    font-size: 2rem;
    margin-top: 10rem;
  }

  .offer hr {
    width: 80% !important;
  }
  
  .offer p {
    padding: 1rem 1rem 0 1rem;
    margin-bottom: 6rem;
    margin-top: 3rem;
    font-size: 1.5rem;
  }
  .makeOrder p {
    text-align: center;
    font-size: 1rem;
  }

  .makeOrder button {
    width: 80%;
    font-size: 1.5rem;
    margin-top: 3rem;
  }

  .makeOrder div {
    padding: 1rem;
    margin-top:0.5rem;
    width: 80% !important;
  }

  .makeOrder {
    width: 80%;
    margin-bottom: 3rem;
  }

  .main {
    padding-top: 0;
  }

  .quest,
  .slider {
    flex-direction: column;
    align-items: center;
  }

  .quest img {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }

  .quest p{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1rem;
  }

  .quest {
    margin-top: 2.5rem;
  }

  .more{
    width: 80%;
    font-size: 1.5rem;
    margin:2rem;
  }

  .readReviews {
    font-size: 1.5rem;
    margin: 1rem 0 !important;
  }

  #second p {
    margin: 0 1rem 2rem 2rem;
  }



  .jokes h3 {
    padding-top: 4rem;
    font-size: 2rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }

  .slide.visible {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 0 2rem 0;
  }

  .slide.visible img {
    margin-left: 0;
    width: 100%;
    height: auto;
  }

  .footer {
    width: inherit;
  }
  
  #Navburg .logo {
    margin-left: 1rem;
  }
  
  #Navburg {
    visibility: visible;
    display: flex;
    top: 1rem;
      position: absolute;
      width: 100%;
  }
  
  .nav {
    justify-content:left;
    align-items: center;
    width: auto;
    margin: -30px 0;
    visibility: hidden;
    height: 1px;
  
  }
  
  .logo {
    margin-left: 1rem;
    height: 100px;
  }
  
  .menuNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menuNavbar ul {
    display: block;
    width: 100%;
    }
  
  
    #burger-menu {
      position:absolute;
      top: 0;
      right: -100%;
      display: block;
    }
    
    #burger-menu.open {
      right: 0;
    }
    
    .burger {
      width: 50px;
      height: 50px;
      margin-left: auto;
      margin-right: 0.5rem;
      margin-top: 10px;
    }
  
    .burger img {
      width: 40px;
      height: 40px;
      padding-left: 5px;
      padding-top: 5px;
      cursor: pointer;
    }
    
    .burger-close img {
      margin-top: 1.75rem;
      margin-left: 5.6rem;
      width: 2.5rem;
    height: auto;
    cursor: pointer;
    }
    .body {
      width: 400px;
    }
  
  .mb-5 {
    display: flex;  
    margin-bottom: -1rem;
  }
  
  .mb-5 p {
    width: 2rem;
      margin-top: 1.8rem;
      margin-left: 0.9rem;
      font-size: 2rem;
  }
  
  #burger-menu {
    background-color: seashell;
    opacity: 92%;
    padding-bottom: 1rem;
  }
  
  .mt-4 a {
    margin-left:1rem;
  }
  
  .mb-4 {
    margin:1rem;
  }
  
  html {
    overflow-x: hidden;
  }

  .firstLesson {
    font-size: 32px;
  }
}

@media screen and (max-width:369px) {
  #second div {
    width: 100%;
  }

  .slideshow-wrapper {
    justify-content: center;
  }
  
  .slideshow-container .fade,
  .slideshow-container .fade img {
    width: 260px !important;
    display: block;
    height: 277px !important;
  }

  .prev, .next {
    display: none;
  }

  .firstLesson {
    font-size: 22px;
  }
}
